//Breakpoints
$tab: 768px; // タブレット
$sp-l: 520px; // スマホ
$sp: 320px; // スマホ小

//Layout
$inner_width_01: 1000px;
$inner_padding_01: 0 15px;

//Main Colors
// $color_primary: #f99900;
// $color_secondary: #ffeed3;
// $color_accent: #135779;

//Sub Colors
// $color_white: #fff; //white
// $color_black: #000; //black

//Background
// $back_body: #f0f0f0;

//Font
$font_family_default: "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
  "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$font_family_title: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ",
  sans-serif;

//Typography
$font_size_default: 1.8rem;
$font_weight_default: normal; //normal
$font_weight_med: medium;
$font_weight_stronger: bold; //bold

$txt_color_default: #333333;
$line_height_default: 1.6;

//Links
// $link_color: $txt_color_default;
// $link_color_hover: lighten($link-color, 30%);
